/* General body styling */
body {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
    font-size: ;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 50%;
    background-position-y: 30%;
}


/* Title section styling */
.title h1 {
    text-align: center;
    color: #333;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    border-radius: .5rem;
}

/* Questions section styling */
.questions {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.questions h4 {
    color: #000000;
    font-size: 30px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.questions img {
    width: 40%;
    /* Make images responsive */
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Result section styling */
.result {
    background-color: white;
    border-radius: 8px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20%;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease;

}



.result.show {
    opacity: 1;
    visibility: visible;
}

button {
    padding: 10px 22px;
    border-radius: 6px;
    font-size: 25px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #000000;
    transition: all 0.2s ease;
    text-align: left;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: upper-alpha;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 20px 0;
    font-size: 25px;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
}

ul li button {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    filter: grayscale(40%);
}